
body {
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/fondog.jpg");
    background-size: contain;
}

/* barra de navegacion */

#nav {
    background-color: black;
}

#boton {
    background-color:#f47068;
}
.logo {
    width: 150px;
    height: 50px;  
    padding: 5px;
}

.lista {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.lista ul {
    text-decoration: none;
}

.lista a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.boton button {
    background-color:#f47068;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.boton {
    padding-top: 5px;
    text-align: end;
    margin-right: 10px;
}

/* Presentacion */

#presentacion {
    height: 600px;
}

#sobreNosotros {
    background-color: white;
}

.paginaprincipal {
        display: grid;
        grid-template-columns: auto auto;
        height: 600px;
}

.presentacion {
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    padding-top: 20%;
}

.presentacion h1 {
    font-size: 35px;
}

.presentacion p {
    font-size: 15px;
}

/* login */

#login {
    background-color: white;
    text-align: center;
    height: 600px;
}

.sub a:hover {
    text-decoration:underline black;
    color:#f47068;

}
.sub {
    margin-top: 10px;
}

#checkBox {
    padding-left: 130px;


}

.login {
    display: grid;
    background-color: white;
    grid-template-rows: auto auto;
    padding: 10px;
    padding-top: 60px;

}

.titulologin {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.login form {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.login button {
    background-color: #f47068;
    border: none;
}

.recuerdame {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 15px;
}


.recuerdame div {
    align-content: flex-end;
    text-align: end;
}

.continuargoogle {
    padding-top: 50px;
    text-align: center;
}

.continuargoogle img {
    height: 30px;

}

.continuargoogle a {
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
}

/* Sobre nosotros */

#sobreNosotros {
    display: grid;
    grid-template-columns: auto auto;
    height: 650px;
}

#sobreNosotros h2 {
    text-align:right;
    font-family: 'Nunito', sans-serif;

}

.contenidosobrenosotros {
    align-content: center;

}

#imagensobnos img {
    height: 100px;
    width: 100px;
}

.contenidosobrenosotros p {
    text-align: center;
}
 


/* preguntas frecuentes */

#preguntas{
    height: 650px;
    background-color: white;
    font-family: 'Nunito', sans-serif;

}

/* contacto */

#contacto {
    height: 650px;
}

#imgcon img {
    height: 100px;
    width: 100px;
}

/* footer */

footer {
    height: 100px;
    background-color: black;
    align-items: center;
}

i {
    font-size: 50px;
    margin-left: 125px;
}











@media screen and (max-width: 400px){
    .body{
    background-color: lightcoral;
    }
}

@media screen and (max-width: 800px){
    .body{
    background-color: rgb(19, 207, 44);
    }
}
